.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9; /* Slightly off-white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 120px; /* Adjust logo size */
  height: auto;
  margin-bottom: 1rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #ccc; /* Light gray border */
  border-top: 4px solid #2aa198; /* Teal color for the NGO theme */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.loading-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2aa198; /* Teal color for the NGO theme */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}