/* section {
    padding: 60px 20px;
    text-align: center;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    display: inline-block;
  }
  
  section p, section form {
    max-width: 600px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  button {
    padding: 10px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
   */